:root {
    --yellow: #FFDB49;
    --yellow-dark: #FEAF26;
    --white: #ffffff;
    --gray-shadow: #F6F6F6;
    --gray-light: #EAEAEA;
    --gray-dark: #545454;
    --blue-dark: #202935;
    --black-blue: #0D1117;
}

/* Slider */
.mySlides {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 700px;
  position: relative;
  overflow: hidden;
}

/* Caption text */
.jumbo-slider {
    width: 500px;
    min-height: 250px;
    border-radius: 4px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #2029358e;
    opacity: 0.75;
    padding: 15px;
    transition: all .5s;
}

.jumbo-slider:hover {
    background-color: var(--blue-dark);
    opacity: 1;
}

.jumbo-slider > span:first-child {
    color: var(--yellow-dark);
    font-size: 3rem;
}

.jumbo-slider > span:nth-child(2) {
    color: var(--white);
    font-size: 1.4rem;
}

.jumbo-slider > a >button {
    width: 50%;
    height: 57px;
    color: var(--black-blue);
    background-color: var(--yellow);
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
    align-self: center;
}

.jumbo-slider > a >button:hover {
    background-color: var(--yellow-dark);
}

.active {
  background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#slide-1 {
    background: url(../img/mochilero-index.jpg)center no-repeat;
    background-size: cover;
}

#slide-2 {
    background: url(../img/surfista-slider.jpg)center no-repeat;
    background-size: cover;
}

#slide-3 {
    background: url(../img/caida-libre.jpg)center no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    min-height: minmax(90vh, 100vh);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#div-buscador {
    height: 90vh;
}

h2 {
    color:var(--yellow);
    font-size: 3rem;
    font-weight: 400;
}

p {
    color: var(--white);
}

.container > .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    width: 100%;
    min-height: 202px;
    display: flex;
    flex-direction: column;
    background-color:var(--gray-light);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.3s;
}

.card:hover {
    box-shadow: 0 5px 5px var(--black-blue);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.card-title {
    color:var(--blue-dark);
    font-weight: 800;
}

span {
    color: var(--gray-dark);
    padding: 5px;
}

.card > a { 
    text-decoration: none;
    color: var(--blue-dark);
    font-weight: 600;
    padding: 5px;
}

.new {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--yellow-dark);
    color: var(--blue-dark);
    font-weight: 500;
    border-radius: 4px;
}

.container > .buscador {
    width: 100%;
    /* min-height: 500px; */
    display: flex;
    height: 90%;
    border-radius: 4px;
}

.container > .buscador div {
    width: 50%;
}

.busca{
    border-radius: 4px 0 0 4px;
}
.map{
    border-radius: 4px;
}

.container2 {
    width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    display: flex;
}
.idea {
    width: 50%;
    background: url(../img/idea.jpg)center no-repeat;
    background-size: cover;
}

.texto-idea{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Jumbotron */
.jumbotron {
    width: 70%;
    min-height: 250px;
    border-radius: 4px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #2029358e;
    opacity: 0.75;
    padding: 15px;
    transition: all .5s;
}

.jumbotron {
    background-color: var(--blue-dark);
    opacity: 1;
}

.jumbotron > span:first-child {
    color: var(--yellow-dark);
    font-size: 3rem;
}

.jumbotron > span:nth-child(2) {
    color: var(--white);
    font-size: 1.4rem;
}

.jumbotron > a >button {
    width: 189px;
    height: 44px;
    color: var(--black-blue);
    background-color: var(--yellow);
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.jumbotron > a >button:hover {
    background-color: var(--yellow-dark);
}
