:root {
    --yellow: #FFDB49;
    --yellow-dark: #FEAF26;
    --white: #ffffff;
    --gray-shadow: #F6F6F6;
    --gray-light: #EAEAEA;
    --gray-dark: #545454;
    --blue-dark: #202935;
    --black-blue: #0D1117;
    --bronze: #CE782D;
    --silver: #BBBBBB;

    /* perfil */
    --width: 300px;
    --padding: 10px;
    --bg-color: var(--gray-dark);
    --hovercolor: var(--gray-light);
    --width-collapsed: 50px;
}

.flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    border-bottom: 1px solid var(--gray-dark);
}

.perfil{
    background-color: var(--blue-dark);
    width: 20%;
    /* height: 110vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
}
.divFoto{
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.fotoPerfil{
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    top: 50px;
}


.infoPerfil{
    width: 80%;
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding-top: 2rem;
}
.nombreUsuario{
    font-size: 2em;
    font-weight: 500;
    align-self: center;
}
.datos{
    margin-top: 10%;
    width: 60%;
    align-self: center;
    line-height: 35px;
}
.btn{
    align-self: center; 
    width: 50%;
    display: flex;
    justify-content: center;
}
button{
    border: 0;
}
.btnEditar{ 
    align-self: center;
    width: max-content;
    margin-top: 20%;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: var(--yellow);
    font-weight: 600;
}
.btnEditar:hover{ 
    border-radius: 4px;
    background-color: var(--yellow-dark);
    cursor: pointer;
    transition: all .5s;
}


/* Modal editar perfil */
.formEditar{
    padding: 80px 150px 40px 150px;
    display: flex;
    flex-direction: column;
}
.formEditar label{
    font-weight: 600;
    margin-bottom: 5px;
    width: 100%;
}
.formEditar input{
    margin-bottom: 20px;
    width: 100%;
}
.formEditar select{
    margin-bottom: 20px;
    width: 100%;
}
.formEditar button{
    margin-bottom: 0px;
    width: 20%;
    background-color: var(--yellow);
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
    align-self: center;
    transition: all .3s;
}
.formEditar button:hover{
    background-color: var(--yellow-dark);
}

/* seccion logros del perfil */
.divLogros{
    align-self: center;
    width: 40%;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
  }
  .logoLogros{
    width: 40px;
    height: 40px;
  }



/* actividades guardadas y actividades realizadas */
.general{
    width: 75%;
    height: 100%;
    padding-left: 5%;
}

#guardadas{
    margin-top: 5%;
}
#guardadas h2{
    color: var(--yellow);
    font-size: 3em;
    font-weight: 400;
}

#realizadas{
    margin-top: 5%;
}
#realizadas h2{
    color: var(--yellow);
    font-size: 3em;
    font-weight: 400;
} 


/* Slider */
.main-scroll-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover{
    position: relative;
    width: 100%;
    height: 100%;
}

.scroll-cartitas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
/* remove the scroll bar */
.scroll-cartitas::-webkit-scrollbar{
-webkit-appearance: none;
}

/* para que al hacer scroll no se quede la carta partida */
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}
.snaps-inline > *{
    scroll-snap-align: start;
}


/* card activities */
.child{
    min-width: 30%;
    height: 100%;
    margin: 10px 10px;
    cursor: pointer;
    overflow: hidden;
    background-color:var(--gray-light);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
}
.card img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}
.card-title {
    color:var(--blue-dark);
    font-weight: 800;
}
span {
    color: var(--gray-dark);
    padding: 5px;
}
.card > a { 
    text-decoration: none;
    color: var(--blue-dark);
    font-weight: 600;
    padding: 5px;
}
.new {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--yellow-dark);
    color: var(--blue-dark);
    font-weight: 500;
    border-radius: 4px;
}


/* flexa direcciones scroll */
.icon{
    color: var(--white);
    background-color: var(--black-blue);
    font-size: 2em;
    padding: 16px;
    outline: none;
    border: none;
    padding: 5px 0px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.icon-left:hover, .icon-right:hover {
    background-color: var(--blue-dark);
}
.icon-right, .icon-right2{
    margin: 0px 10px;
}


/* cartas logros */
.childLogros{
    min-width: 30%;
    height: 100%;
    margin: 10px 10px;
    cursor: pointer;
    overflow: hidden;
    background-color:var(--gray-light);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.scroll-cartitas2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.icon-left2:hover, .icon-right2:hover {
    background-color: var(--blue-dark);
}

/* remove the scroll bar */
.scroll-cartitas2::-webkit-scrollbar{
    -webkit-appearance: none;
}

/* Modal perfil */
.ebcf_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ebcf_modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: var(--black-blue);
}

/* The Close Button */
.ebcf_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ebcf_close:hover,
.ebcf_close:focus {
    color: var(--bronze);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px){
    .flex{
        position: relative;
    }
    .general{
        width: 80%;
        padding: 0;
    }
    #guardadas{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }
    #guardadas h2{
        align-self: center;
        font-size: 2.5em;
    }
    .main-scroll-div{
        width: 90%;
        padding-left: 10px;
        /* align-self: left; */
    }
    .cover{
        width: 90%;
    }
    .child{
        min-width: 95%;
    }
    
    .icon-right, .icon-right2{
        margin: 0px;
    }
    .icon-left:hover, .icon-right:hover {
       background: none;
    }
    .bx-chevron-left:before{
        font-size: 0.8em;
    }
    .bx-chevron-right:before{
        font-size: 0.8em;
    }

    #realizadas{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }
    #realizadas h2{
        align-self: center;
        font-size: 2.5em;
    }
    .childLogros{
        min-width: 95%;
    }

    /* menu lateral */
    .infoPerfil{
        display: none;
    }
    .divLogros{
        display: none;
    }
    .perfil{
        padding: 0;
        height: 100vh;
    }
    .divFoto{
        height: 100px;
        margin-top: 25%;
    }


}
